<%- include('header') %>
  <div id="form">
    <div class="container">
      <h1 class="form-heading">registration Form</h1>
      <div>
        <div class="main-div">
          <div class="panel">
          </div>
          <% if(errors) {
            for(let error of errors ) { %>
            <div class="alert alert-danger"><%= error.msg %></div>
            <% } 
          } %>
              <form method="POST" action="/registration">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/">login</a>                
              </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') %>